<h1>New trip</h1>
<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>

    <%= f.label :summary %><br />
    <%= f.text_field :summary %>
    
    <%= f.label :start_location %><br />
    <%= f.text_field :start_location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
