<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_field :summary %>
  </div>
  <div class="field">
    <%= f.label :starting_location %><br />
    <%= f.text_field :starting_location %>
  </div>
  <div class="field">
    <%= f.label :starting_date %><br />
    <%= f.text_field :starting_date %>
  </div>
  <div class="field">
    <%= f.label :finish_location %><br />
    <%= f.text_field :finish_location %>
  </div>
  <div class="field">
    <%= f.label :finish_date %><br />
    <%= f.text_field :finish_date %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
