<%= javascript_include_tag 'trips/new' %>
<h1>New trip</h1>
<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %><br />

    <%= f.label :summary %>
    <%= f.text_field :summary %><br />
    
    <%= f.label :start_location %>
    <%= f.text_field :start_location %><br />
    <%= f.label :start_coords %>
    <%= f.text_field :start_coords %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
