<%= javascript_include_tag 'trip_new' %>
<script type="text/javascript">
  var trip = <%= @trip.to_json.html_safe %>;
  var waypoints = <%= @waypoints.to_json.html_safe %>;
</script>

<h1>New trip</h1>
<%= render 'form' %>
<%= link_to 'Back', trips_path %>
