<% i = @trip.ordered_days.index(day) %>

<div class="day_row clear" id="day_<%=day.id%>">
  <div class="current_day">
    <div class="index"><%= i+1 %></div>
    <div class="location"><%= day.stop_location %></div>
    <div class="distance"><%= day.show_distance({:unit_system => "IMPERIAL"}) %></div>
    <div class="total"><%=@trip.cumulative_distance(i, {:unit_system => "IMPERIAL"}) %></div> 
    <div class="modify button-group">
      <button class="button hidden left insert icon icononly add" id="insert_<%=day.id%>" type="button"></button>
      <button class="button hidden center icon icononly edit" id="edit_<%=day.id%>" type="button"></button>
      <%= link_to ' ', trip_day_path(@trip, day), :confirm => 'Are you sure?', :method => :delete, :class=> 'button hidden right icon icononly remove danger' %>
    </div>
  </div>
  <%= render :partial => 'edit_day', :locals => {:day => day} %>

</div>

