<%= form_for([@trip, day]) do |f| %>
  <div class="index"></div>
  <div id="new_location" class="location">
    <%= f.text_field :stop_location, :class=>"location" %>
  </div>
  <div id="new_distance" class="distance"></div>
  <div class="field">
    <%= hidden_field_tag 'id', day.id %>
    <%= hidden_field_tag 'trip[id]', @trip.id %>
    <%= f.hidden_field :stop_coords %>
    <%= f.hidden_field :encoded_path %>
    <%= f.hidden_field :route %>
    <%= f.hidden_field :distance %>
    <%= f.hidden_field :google_waypoints %>
    <%= f.hidden_field :travel_mode %>
  </div>
  <div class="next_day_fields">
    <%= hidden_field_tag 'next_day[encoded_path]' %>
    <%= hidden_field_tag 'next_day[route]' %>
    <%= hidden_field_tag 'next_day[distance]' %>
    <%= hidden_field_tag 'next_day[google_waypoints]' %>
    <%= hidden_field_tag 'next_day[travel_mode]' %>
  </div>

  <div class="clear"></div>
  <div class="button-group actions">
    <div class="index"></div>
    <div class="button-group actions">
      <input class="button center disable save" disabled="disabled" id="save_<%=day.id%>" type="button" value="Save">
      <input class="button right danger cancel" id="cancel_<%=day.id%>" type="button" value="Cancel">
    </div>
  </div>
<% end %>
