<%= form_for [@trip, @day] do |f| %>
  <% if @day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% @day.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <dl id="stop_locations" class="field">
    <dt><%= image_tag 'b.png' %></dt>
    <dd><%= f.text_field :stop_location, :size => 40 %></dd>
  </dl>
    <input class="kd-button kd-button-red" value="Insert new day" type="submit" onclick="loadBlankDay()">
  <div class="field">
    <%= f.hidden_field :distance %>
    <%= f.hidden_field :travel_mode %>
    <%= f.hidden_field :encoded_path %>
    <%= f.hidden_field :google_waypoints %>
  </div>
  <div class="actions">
    <%= f.submit 'Save changes', :class => 'kd-button kd-button-red' %>
    <input class="kd-button kd-button-red" value="Search" type="submit" style="float:right;" onclick="calcRoute()">
  </div>
<% end %>
