<% day ||= nil %>
<%= form_for([@trip, @trip.days.build]) do |f| %>
  <div class="index"></div>
  <div class="travel_select">
    <%= select "day", "travel_mode", options_for_select([["Driving", "DRIVING"], ["Bicycling", "BICYCLING"], ["Walking", "WALKING"]]) %>
  </div>
  <div id="new_location" class="location">
    <%= f.text_field :stop_location, :class=>"location" %>
  </div>
  <div id="new_distance" class="distance"></div>
  <div id="trip_id">
    <%= hidden_field_tag 'trip[id]', @trip.id %>
  </div>
  <div class="field">
    <%= hidden_field_tag 'day[prev_id]', day ? day.prev_id : (@trip.last_day.id if @trip.last_day)%>
    <%= hidden_field_tag 'day[next_id]', day ? day.id : '' %>
    <%= f.hidden_field :stop_coords %>
    <%= f.hidden_field :encoded_path %>
    <%= f.hidden_field :route %>
    <%= f.hidden_field :distance %>
    <%= f.hidden_field :google_waypoints %>
    <%= f.hidden_field :travel_mode %>
  </div>
  <div class="next_day_fields">
    <%= hidden_field_tag 'next_day[encoded_path]' %>
    <%= hidden_field_tag 'next_day[route]' %>
    <%= hidden_field_tag 'next_day[distance]' %>
    <%= hidden_field_tag 'next_day[google_waypoints]' %>
    <%= hidden_field_tag 'next_day[travel_mode]' %>
    <%= hidden_field_tag 'next_day[id]', day ? day.id : '' %>
  </div>

  <div class="clear"></div>
  <div class="button-group actions">
    <div class="index"></div>
    <input class="button left" id="search" type="button" value="Search">
    <input class="button center disable" disabled="disabled" id="save_new_day" type="button" value="Save">
    <input class="button right danger cancel" id="cancel_new_day" type="button" value="Cancel">
  </div>
<% end %>
