<h1> Days near you </h1>

<ul>
  <% @days.each do |day| %>
    <li><div class="day" style="position:relative;">
    <% day.tags.each do |tag| %>
      <%= tag %>
    <% end %>
    <div><%= day.distance %></div>
    <div><%= day.stop_location %></div>
    <div><%= day.travel_mode %></div>
    <div class="modify">
      <%= link_to 'Show', trip_day_path(@trip, day) %>
      <%= link_to 'Edit', edit_trip_day_path(@trip, day) %>
      <%= link_to 'Destroy', trip_day_path(@trip, day), :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </div></li>
  <% end %>
</ul>
<br />

<%= link_to 'New Day', new_trip_day_path(@trip) %>
