<%= javascript_include_tag 'days/index' %>
<%= javascript_include_tag 'makeColor' %>
<%= javascript_include_tag 'days/day_object' %>
<script type="text/javascript">
  var trip = <%= @trip.to_json.html_safe %>;
  var ordered_days = <%= @ordered_days.to_json.html_safe %>;
  var unit_system = <%= @unit_system.to_json.html_safe %>;
</script>
<aside id="trip_days_wrap">
  <p> <%= @trip.title %></p>
  <p> <%= @trip.summary %></p>
  <div id="table_header" class="clear">
    <div class="index" ></div>
    <div class="travel_mode"></div>
    <div class="location">Stop Location</div>
    <div class="distance">Mileage</div>
    <div class="modify">Modify</div>
  </div>
  <div id="start_location" class="clear">
    <div class="index">0</div>
    <div class="travel_mode"></div>
    <div class="location"><%= @trip.start_location%></div>
    <div class="distance">0 mi</div>
    <div class="modify"></div>
  </div>
  <div id="indexable">
    <%= render :partial => 'ordered_days', :object => @ordered_days %>
    <%= render :partial => 'new_day'%>
  </div>
  <div class="button-group rule pad" id="new_wizard">
    <input class="button" id="show_new_day_form" type="button" value="New Day">
    <input class="button" id="wiard" type="button" value="Wizard">
  </div>
</aside>
<div>
  <div id="map_canvas"> </div>
  <div id="elevation_chart"></div>
</div>
