<%= javascript_include_tag 'map_day_shared' %>
<%= javascript_include_tag 'map_day_show' %>

<script type="text/javascript">
  var day = <%= @day.to_json(:methods => :tag_names).html_safe %>;
  var prev_day = <%= @prev_day.to_json.html_safe %>;
  var next_day = <%= @next_day.to_json.html_safe %>;
  var trip = <%= @trip.to_json(:include => :days).html_safe %>;
  var unit_system = <%= @unit_system.to_json.html_safe %>;
</script>
<div id="topbar">
  <div id="day_nav">
    <% if @prev_day %>
      <%= link_to 'Prev day', trip_day_path(@trip, @prev_day) %> |
    <% end %>
    <%= link_to 'All days', trip_days_path %> |
    <% if @next_day %>
      <%= link_to 'Next day', trip_day_path(@trip, @next_day) %>
    <% end %>
  </div>
  <div id="detail_nav">
    <ul class="detail_nav_icons">
      <li class="selected" id="DIRECTIONS"><%= image_tag 'directions_sign.png' %></li>
      <li class="unselected" id="VENUES"><%= image_tag 'Black_MapDrop.png' %></li>
      <li class="unselected" id="TAGS"><%= image_tag 'tag.png' %></li>
    </ul>
  </div>
</div>
<aside id="detail_panel">
  <div id="DIRECTIONS_details" class="detail_alternate">
    <ul class="travel_icons">
      <li class="unselected" id="DRIVING"><%= image_tag 'car.png' %></li>
      <li class="unselected" id="WALKING"><%= image_tag 'hiking.png' %></li>
      <li class="unselected" id="BICYCLING"><%= image_tag 'bicycling.png' %></li>
    </ul>
    <div id="day" style="float:left;">
      <table id="start_location">
        <tr>
          <td class="icon"><%= image_tag 'a.png' %></td>
          <td class="prev_day">            
            <% if @prev_day %>
              <%= @prev_day.stop_location %>
            <% else %>
              <%= @trip.start_location %>
            <% end %>
          </td>
        </tr>
      </table>
      <%= render 'form' %>
    </div>
    <div id="directionsPanel" > </div>
  </div>
  <div id="VENUES_details" class="detail_alternate" style="display:none">
    <div id="foursquare">
      <%= form_tag 'waypoints/search_foursquare', :id => "foursquare_form" do %>
        <%= text_field_tag 'query_fq', nil, :placeholder => "campgrounds" %>
        <%= hidden_field_tag 'coords' %>
        <%= submit_tag 'foursquare', :id => "search_fq" %>
      <% end %>
    </div>
    <div id="fq_errors"></div>
    <div id="fq_results"></div>
  </div>
  <div id="TAGS_details" class="detail_alternate" style="display:none">
    <div class="explanation">
      Tags will probably be most useful for post trip analysis. Some people like to count things 
      on tour - roadkill, flats, pounds lost, etc. Tags can help you keep track of this data. 
      Apply the roadkill tag to a day when you see some, or apply roadkillx3 to indication 3 pieces. 
    </div>
    <%= form_tag 'days/add_tag', :id => "tags_form" do %>
      <%= text_field_tag 'tag_string', nil, :placeholder => "tag" %>
      <%= hidden_field_tag 'tags_day_id' %>
      <%= submit_tag 'add tag(s)', :id => "submit_tags" %>
    <% end %>
    <ul id="tag_list">
      <% @day.tag_names.each do |t| %>
        <li><%= t %></li>
      <% end %>
    </ul>
  </div>
</aside>
<div>
<div id="map_canvas"> </div>
<div id="elevation_chart"></div>
</div>
