<%= javascript_include_tag 'map_day_shared' %>
<%= javascript_include_tag 'map_day_show' %>

<script type="text/javascript">
  var day = <%= @day.to_json(:methods => [:tag_hash, :prev_day, :next_day]).html_safe %>;
  var trip = <%= @trip.to_json.html_safe %>;
  var unit_system = <%= @unit_system.to_json.html_safe %>;
</script>
<div id="topbar">
  <div id="day_nav">
    <% if @day.prev_day %>
      <%= link_to 'Prev day', trip_day_path(@trip, @day.prev_day) %> |
    <% end %>
    <%= link_to 'All days', trip_days_path %> |
    <% if @day.next_day %>
      <%= link_to 'Next day', trip_day_path(@trip, @day.next_day) %>
    <% end %>
  </div>
  <div id="detail_nav">
    <ul class="detail_nav_icons">
      <li class="selected" id="DIRECTIONS"><%= image_tag 'directions_sign.png' %></li>
      <li class="unselected" id="VENUES"><%= image_tag 'Black_MapDrop.png' %></li>
      <li class="unselected" id="TAGS"><%= image_tag 'tag.png' %></li>
    </ul>
  </div>
</div>
<aside id="detail_panel">
  <div id="DIRECTIONS_details" class="detail_alternate">
    <ul class="travel_icons">
      <li class="unselected" id="DRIVING"><%= image_tag 'car.png' %></li>
      <li class="unselected" id="WALKING"><%= image_tag 'hiking.png' %></li>
      <li class="unselected" id="BICYCLING"><%= image_tag 'bicycling.png' %></li>
    </ul>
    <div id="day" style="float:left;">
      <%= render 'form' %>
    </div>
    <div id="directionsPanel" > </div>
  </div>
  <div id="VENUES_details" class="detail_alternate" style="display:none">
    <div id="foursquare">
      <%= form_tag 'places/search_foursquare', :id => "foursquare_form" do %>
        <%= text_field_tag 'query_fq', nil, :placeholder => "campgrounds" %>
        <%= hidden_field_tag 'coords' %>
        <%= submit_tag 'foursquare', :id => "search_fq" %>
      <% end %>
    </div>
    <div id="fq_errors"></div>
    <div id="fq_results"></div>
    <%= form_tag 'places/save_foursquare', :id => "save_from_foursquare" do %>
      <%= hidden_field_tag :fq_hash %>
    <% end %>
  </div>
  <div id="TAGS_details" class="detail_alternate" style="display:none">
    Tags
    <div id="the_tags" class="clear">
      <% if @day.tags.length == 0 %>
        <div class="no_tags"> You haven't added any tags to this day yet.</div>
      <% else %>
        <% @day.tags.each do |k, v| %>
          <div class="live_item"> 
            <div class="live_tag"><%= k %><%= v== 1 ? "" : "x"+v.to_s%></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= form_tag 'days/add_tag', :id => "tags_form" do %>
      <%= text_field_tag 'tag_string', nil, :placeholder => "tag" %>
      <%= hidden_field_tag 'tags_day_id' %>
      <%= submit_tag 'add tag(s)', :id => "submit_tags" %>
    <% end %>
    <% @day.alt_tag_hash.each do |k,v| %>
      <div class="tag_item">
        <div class="<%= v["day"].to_i == 0 ? 'tag_unused' : 'tag_used'%>"><%= k %></div>
        <div class="tag_stats"style="display:none">
          <% v.each do |tagk, tagv| %>
            <ul class="stat_col <%=tagk%>_stats"> 
              <li class="stat_name"><%= tagk %></li>
              <li class="stat_num"> <%= tagv %></li>
            </ul>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="explanation clear">
      Separate each tag with a space: <em>lake hilly scorpions</em>. Or to join 2 words 
      together in one tag, use double quotes: "<em>dog chase</em>". To indicate that a tag 
      occured more than once in a day use an x and non-zero integer at the end of the tag: "<em>bug bitesx4</em>".
    </div>
  </div>
</aside>
<div>
  <div id="map_canvas"> </div>
  <div id="elevation_chart"></div>
</div>
