<%= javascript_include_tag 'map_day_show' %>
<script type="text/javascript">
  var day = <%= @day.to_json.html_safe %>;
  var prev_day = <%= @prev_day.to_json.html_safe %>;
  var next_day = <%= @next_day.to_json.html_safe %>;
  var trip = <%= @trip.to_json(:include => :days).html_safe %>;
</script>

<%= label_tag :start_location %><br />
<% if @prev_day %>
  <%= @prev_day.stop_location %>
<% else %>
  <%= @trip.start_location %>
<% end %>
<%= render 'form' %>
<%= link_to 'Edit', edit_trip_day_path(@trip, @day) %> |
<%= link_to 'Back', trip_days_path %>

<div class="rule"></div>
<div id="total"> </div>
<div>
  <b>Mode of Travel: </b>
  <select id="mode" onchange="calcRoute();">
    <option value="BICYCLING">Bicycling</option>
    <option value="DRIVING">Driving</option>
    <option value="WALKING">Walking</option>
  </select>
</div>
<div id="directionsPanel" > </div>

<div id="map_canvas"> </div>

