<!DOCTYPE html>
<html>
<head>
  <title>Touring</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrap">
    <div id="warning"></div>
    <%= render :partial =>  'home/header' %>
    <div id="content">
      <%= yield %>
    </div>
  </div>
  <div class="clear"></div>
  <%= render :partial =>  'home/footer' %>
</body>
</html>
