<!DOCTYPE html>
<html>
<head>
  <title>Touring</title>
  <%= stylesheet_link_tag :all %>
  <link rel="stylesheet/less" type="text/css" href="/stylesheets/application.less">

  <%= javascript_include_tag 'jquery-1.6.2.min', 'jquery.rails', 'less-1.1.3.min' %>
  <%= javascript_include_tag 'jquery-ui-1.8.14.custom.min', 'application' %>

  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrap">
  <%= render :partial =>  'home/header' %>
    <div id="content">
      <%= yield %>
    </div>
  </div>
  <div class="clear"></div>
  <%= render :partial =>  'home/footer' %>
</body>
</html>
