<!DOCTYPE html>
<html>
<head>
  <title>Touring</title>
  <%= stylesheet_link_tag :all %>
  <link rel="stylesheet/less" type="text/css" href="/stylesheets/application.less">

  <%= javascript_include_tag 'jquery-1.5.1.min', 'jquery.rails', 'less-1.1.3.min' %>
  <%= javascript_include_tag 'jquery-ui-1.8.14.custom.min', 'application' %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

  <%= csrf_meta_tag %>
</head>
<body>
  <div id="user_nav">  
    <% if current_user %>  
      Welcome, <%= current_user.name %>!  
      <%= link_to "Sign Out", signout_path %>  
    <% else %> 
      <%= link_to "Sign in with Foursquare", "/auth/foursquare" %>  
    <% end %>
  </div> 
<p id="notice"><%= notice %></p>
<%= yield %>

</body>
</html>
